*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 400;

  --clr-light: #ecf0f1;
  --clr-light-always: #ecf0f1;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --form-bg: rgba(241, 106, 185, 0.767);
  /* #16e0bd */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
/* Dark Theme */
[data-theme="dark"] {
  --clr-light: #303030;
  --clr-dark: #ecf0f1;
  --clr-accent: #16b197;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */

input,
textarea {
  background-color: #ffffffe1;
  width: 95%;
  transition: all 0.2s;
}

input:focus,
textarea:focus {
  background-color: #ffffff;
  width: 100%;
}
textarea {
  font-size: 0.9rem;
  border-radius: 15px;
  border: 0;
}

textarea::placeholder {
  color: grey;
  font-family: var(--ff-primary);
  font-size: 0.8em;
  opacity: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}
input {
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  text-align: center;
  border: 0;
  margin-bottom: 1.2em;
}

input::placeholder {
  color: grey;
  font-family: var(--ff-primary);
  font-size: 0.8em;
  opacity: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* endable this to add smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light-always);
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 1rem;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__title--neontubing {
  color: rgba(165, 253, 238, 0.8);

  font-family: "Concert One", "Arial Narrow", sans-serif;
  animation: neonspark 1s 1s forwards;
  letter-spacing: 0.1rem;
}

.section__title--neontubing span {
  animation: neonspark 4s 3s infinite;
}

@keyframes neonspark {
  0% {
    text-shadow: none;
  }
  30% {
    text-shadow: 0 0 30px rgba(22, 224, 189, 0.6);
  }
  60% {
    text-shadow: 0 0 30px rgba(22, 224, 189, 0.6),
      0 0 60px rgba(22, 224, 189, 0.4);
  }
  80% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 30px rgba(22, 224, 189, 0.6),
      0 0 60px rgba(22, 224, 189, 0.4), 0 0 100px rgba(22, 224, 189, 0.2),
      0 0 90px rgba(22, 224, 189, 0.1);
  }
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--contact {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.intro a {
  color: inherit;
  text-decoration: none;
}
.social-list--intro {
  position: absolute;
  z-index: 2;
  display: block;
  bottom: 29%; /* Move Horizontally */
  left: 6%; /* Move Vertically */
  font-size: 1.2rem;
}
.section__subtitle--intro {
  display: inline-block;
}

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
  .social-list--intro {
    position: absolute;
    z-index: 2;
    display: block;
    bottom: 5%;
    left: 5%;
    font-size: 1.2rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1020px) and (-webkit-min-device-pixel-ratio: 2) {
  .social-list--intro {
    position: absolute;
    z-index: 2;
    display: block;
    bottom: 5%;
    left: 5%;
    font-size: 1.2rem;
  }
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*  My services section  */

.my-services {
  background-color: var(--clr-dark);
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),
    url(../img/fireHydrant.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-blend-mode: multiply; */
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  color: var(--clr-light-always);
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

.about-me,
.contact-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img,
.contact-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me,
  .contact-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about,
  .section__title--contact {
    grid-area: title;
  }

  .section__subtitle--about,
  .section__subtitle--contact {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img,
  .contact-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)),
    url(../img/fireHydrant.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.section__title--work {
  color: var(--clr-accent);
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  margin: 0.3em;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  object-fit: cover;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}

/*contact */
.contact-me {
  max-width: 1000px;
  margin: 0 auto;
}

.form-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--form-bg);
  border-radius: 20px;
  box-shadow: var(--bs);
  padding: 0.8em;
}

.msg-area {
  display: flex;
  flex-direction: column;
  order: 2;
  margin: 1em;
}

.msg-area > textarea {
  flex: 1;
  min-width: 12em;
  padding: 1rem;
}

.details-area {
  display: flex;
  flex-direction: column;
  order: 1;
  margin: 1em;
}

.btn-container {
  order: 3;
  padding: 1em;
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list--intro {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* Individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Resume Page */

.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.35);
  grid-template-areas:
    "name           name"
    "work           work       about"
    "work           work       education"
    "community      references skills";
  grid-gap: 5px;
}

.grid-area {
  padding: 1em 1em 1em 1em;
  border: 1px black solid;
}

.name {
  grid-area: name;
  grid-column-start: 1;
  grid-column-end: 3;
}

.about {
  grid-area: about;
}

.references {
  grid-area: references;
}

.work {
  grid-area: work;
}

.skills {
  grid-area: skills;
}

.education {
  grid-area: education;
}

.community {
  grid-area: community;
}

.circle {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* align cv to center of page */

.wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .resume {
    grid-template-areas:
      "name  name"
      "work about"
      "work education"
      "community skills";
  }
}

@media (min-width: 900px) {
  .resume {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "name  name"
      "about about"
      "work work"
      "education education"
      "skills skills"
      "community community"
      "references references";
  }
}

@media print {
  /* remove any screen only styles, for example link underline */
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
